beautifulsoup4==4.12.3
dash==2.14.2
dash_bootstrap_components==1.5.0
matplotlib==3.6.0
mtcnn==0.1.1
numpy==1.23.5
opencv_contrib_python_headless==4.8.0.76
opencv_python==4.8.0.76
opencv_python_headless==4.8.0.76
pandas==1.5.3
Requests==2.31.0
scikit_learn==1.2.2
seaborn==0.13.2
tensorflow==2.12.0
